/****************  common  *******************/

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}

p,
li {
    color: #666;
}

ul {
    list-style: none;
}

section:not(#ourStorySection) {
    padding: 30px 0px;
    background: #ff7c5510;
}

.themeColor {
    color: #ff7c55;
}

.blackColor {
    color: black;
}

.container-fluid:not(#navbarContainer) {
    max-width: 1200px;
    background-color: white;
}

.themeHeading1 {
    color: #ff7c55;
    font-weight: 300;
    font-size: 46px;
}

.themeHeading2 {
    color: #ff7c55;
    font-weight: 300;
    font-size: 38px;
}

.themeHeading3 {
    color: #ff7c55;
    font-weight: 300;
    font-size: 28px;
}


/***************  header  *******************/

.header-top-bar {
    background-color: #ffd821;
    position: relative;
}

.header-top-bar .btn-order-now {
    background-color: #37abf2;
    padding: 6px 10px;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    border-radius: 3px;
    text-transform: uppercase;
}

.header-top-bar .offer {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    width: 100%;
    padding: 6px 0px;
}

.header-top-bar .offer p strong {
    color: red;
    margin-right: 10px;
}

.header-top-bar .offer p span {
    color: #0c5460;
    font-weight: 700;
}

.header-top-bar .offer p {
    margin-bottom: 0;
}

.cross-icon {
    position: absolute;
    right: 2%;
    top: 3px;
    font-size: 24px;
}

.noBtnNavItem {
    padding-top: 8px;
    margin: 0 10px;
}

.navbar .container-fluid {
    padding: 0 30px;
}

@media only screen and (max-width: 1200px) {
    .noBtnNavItem {
        padding-top: 8px;
        margin: 0px;
        font-size: 14px
    }

    .nav-link button{
        margin: 0;
        font-size: 14px
    }

    .navbar .container-fluid {
        padding: 0px;
    }
}

@media only screen and (max-width: 1200px) {
}

.nav-link {
    font-weight: 600;
}


/***************  about us  ******************/

#ourStorySection #pageBanner {
    display: block;
    width: 100%;
    min-height: 150px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#ourStorySection #pageBannerStyle {
    display: block;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 86px;
    margin-top: -86px;
}

/*************** yoga school--about us  *********/

#yogaSchoolSection {
    padding-top: 0;
}

#yogaSchoolSection li::before {
    margin-left: -20px;
    margin-right: 1vw;
    color: #ff7c55;
    font-weight: 200;
    font-size: 25px;
    content: 'o';
}

/**************  about our practice  *************/

#aboutOurPractice #heading{
    padding: 10px;
}

#aboutOurPractice .toggle .title h1 {
    color: black;
}

#aboutOurPractice .title {
    padding: 10px;
    cursor: pointer;
    transition: 1s;
    border: 1px solid #ff7c5530;
}

#aboutOurPractice .content {
    height: 0px;
    overflow: hidden;
    padding: 0px;
}

/*******************  nuc  ****************/

#nucSection .column {
    padding: 0 10px;
    background-color: #ff7c5510;
}

#nucSection #newsletter {
    padding: 15px;
    min-height: 550px;
    margin: 10px 0;
    background-color: white;
}

#nucSection #upcoming {
    padding: 15px;
    min-height: 550px;
    margin: 10px 0;
    background-color: white;

}

#nucSection #contact {
    padding: 15px;
    min-height: 550px;
    margin: 10px 0;
    background-color: white;

}

#nucSection .btn-warning {
    background-color: #ff7c55;
    color: white;
}

#nucSection hr {
    margin: 30px 0;
}

#nucSection #upcoming .eventContainer {
    background-color: #ddd0;
    cursor: pointer;
}

#nucSection #upcoming .eventContainer:hover {
    background-color: #ff7c5520;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

#nucSection #upcoming .eventContainer p {
    margin: 3px;
}

#nucSection #upcoming .col-8,
#nucSection #upcoming .col-4 {
    padding: 10px;
}